html {
    background-color: #333232;
    height: 100%;
}

#container {
    height: 581px;
    width: 1460px;
    background-color: white;
    margin: 100px auto;
    text-align: center;
    border: 3px solid black;
}

#image {
    height: 581px;
    width: 1460px;
}

.btn {
    display: inline-block;
    background-image: image('UI/Next.png');
    background-size: cover;
    height: 98px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 159px;
}